form(action='/new', method='POST')
    p
      | insert userName:
      input(type='text', name='userName', )
      |          insert post: 
      input(type='text', name='textPost', )
      |           
      
    input(type='submit', value='Submit')

